# Rust
/target/
**/target/
Cargo.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
/.venv/
venv/
.env
bindings/python/.venv

# maturin / wheels
/.maturin/
dist/
build/

# IDEs
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Misc
*.log

/examples/

